<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 boxbg">
      <form>
        <h3>Login</h3>
        <div class="form-group" style="margin-top: 8%;">
          <i class="fas fa-user"></i>
          <label for="username" style="margin-left: 2%;">Username</label>
          <input type="text" [(ngModel)]="username" class="form-control" id="username" placeholder="Username" value="mark_456" [ngModelOptions]="{standalone: true}" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
        <div class="form-group">
          <i class="fas fa-lock"></i>
          <label for="password" style="margin-left: 2%;">Password</label>
          <input type="password" [(ngModel)]="password" class="form-control" id="password" placeholder="Password" [ngModelOptions]="{standalone: true}">
        </div>

        <button type="submit" class="btn btn-light" style="margin-top: 5%;" (click)="login()">Login</button>
      </form>
    </div>
  </div>
</div>